body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 32px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 6px 32px;
  border-radius: 6px;
  border: 0px;
  font-size: 18px;
  font-weight: bold;
}

.header,
.hero,
.footer {
  background-color: #1f2937;
  padding: 16px 150px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.hero {
  display: flex;
  padding-top: 100px;
  padding-bottom: 120px;
  gap: 32px;
}

.hero .title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero .subtext {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 16px;
}

.hero img {
  flex-shrink: 0;
  width: 480px;
  height: 220px;

  color: #f1f1f1;
  background-color: #eeeeee4d;
  text-align: center;
}

.information {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 64px;
}

.information .title {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.panels {
  display: flex;
  justify-content: center;
}

.panel {
  width: 150px;
  margin: 32px;
}

.panel img {
  width: 150px;
  height: 150px;
  border-style: solid;
  border-radius: 16px;
  border-color: #3882f6;
  border-width: 4px;
}
